body{
	margin:0;
	padding:0;

}
.social a{
	display:inline-block;
	width:14%;

}

.social img{

}

.social{
width:60%;

	padding-left:37%;
	display:block;


}
.info h2{
	text-align:center;
	padding-top:2%;
}

.address{
		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	padding-left:5%;
	padding-right:5%;
	padding-top:5%;
	padding-bottom:5%;
	margin:0;
	font-size:0.8em;
}

a{
	text-decoration: none;
	list-style-type: none;
	font-family: "futura", sans-serif;
	color:#000;
	display: block;

}

.info h1{
text-align:center;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #ccc;
border-top-style: solid;
border-top-width: 2px;
border-top-color: #ccc;
padding-top:2px;
padding-bottom:2px;


}

.logo{
width:30%;
display:block;
padding-right:37%;
padding-left:37%;


margin-right:auto;
margin-left:auto;
background-color:#fff;

}

.name{
background-color:#fff;
margin:0;
width:99.5%;

}

img{
	width:100%;

	display:block;

}
.art h1{

padding:5%;
}

footer{
padding:0;

}

iframe{
	width:100%;

}
.skiplinks{
	margin: 0;
	padding: 0;
	position: absolute;
	z-index:3000;
	width:100%;
	font-size: 1rem;
	font-weight:bold;
	list-style-type: none;



}



a:hover,
a:active{
	outline:none;
	background-color:#fff;
}



a:focus{

outline:2px solid #000;

}




.search{
	float:right;
	display:none;
}

h1{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

		text-transform: uppercase;
		font-weight: 300;
		font-size: 1.2em;
		padding-left: 5%;

}

 p{
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

	margin:0;

	font-size:0.8em;
}



h2{
	padding-left:5%;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-weight:500;
	margin:0;
	font-size:1em;
	color:#000;
	text-transform: uppercase;

}



.flex-img{

display:block;
position:relative;

width:100%;
overflow:hidden;

}

br{
	padding-top:2%;
}
.para-large{
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	padding:5%;
	margin:0;

}

@media only screen and (max-width: 38em) {



}
@media only screen and (min-width: 38em) and (max-width: 50em) {

.logo{
width:59%;
display:block;
padding-top:10%;
padding-bottom:5%;
padding-right:20%;
padding-left:20%;


margin-right:auto;
margin-left:auto;
background-color:#fff;

}
.info h1{
text-align:center;

border-left-color: #ccc;
border-left-style: solid;
border-left-width: 2px;
padding-top:5%;
padding-bottom:5%;


}

.social{


	padding-left:32%;



}
.social a{
width:20%;
}


p{

	font-size:0.9em;
}



}

@media only screen and (min-width: 50em) and (max-width: 70em) {


.info h1{
text-align:center;

border-left-color: #ccc;
border-left-style: solid;
border-left-width: 2px;
padding-top:5%;
padding-bottom:5%;


}
.social a{
width:20%;
}

.logo{
width:59%;
display:block;
padding-top:8%;
padding-bottom:5%;
padding-right:20%;
padding-left:20%;


margin-right:auto;
margin-left:auto;
background-color:#fff;

}

p{

	font-size:1em;
}

}

@media only screen and (min-width: 70em) {

p{

	font-size:1em;
}
.info{
	display:block;
	margin-top:0;
}
.info h1{
text-align:left;
font-size: 1.3em;
border:none;


padding-bottom:2%;
margin-bottom:0;


}

.info h2{
	text-align:left;
}

html{
	max-width:80%;
margin-right:auto;
margin-left: auto;

}

.social a{
	width:20%;
}


.social{
width:80%;
padding-top:1%;
padding-left:3%;
margin-right:0;


}






.address{
	padding-left:0;
}

.name{
	width:99.7%;
}

.logo{
width:70%;
padding-right:0;
padding-left:0;
margin-right:auto;
margin-left:auto;


}

.title{
	width:39%;
	margin-right:0;
display:inline-block;
margin-top:0;
}
.para-large{
	width:60%;
	padding-top:5%;
		padding-right:0;
			padding-left:0;
				padding-bottom:5%;
display:inline-block;



}
}
