<!DOCTYPE html>
<html lang=en-ca>
<head>
	 <meta charset=utf-8>
 	<title>Alyster Mahoney · Designer</title>
 	  <link href="css/normalize.css" rel="stylesheet">
 	<link href="css/general.css" rel="stylesheet">
 	<link href="css/grid.css" rel="stylesheet">
 	<script src="js/modernizr.js"></script>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">

</head>
<body>


<div class="grid name" role="banner">
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-4">
		<a href="../index.html"><img src="../img/mahoneylogogrey.svg" alt="Alyster Mahoney Design" class="logo"></a>
	</div>
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-4">
		<div class="info">
			<h1>Alyster Sam Mahoney</h1>
			<div class="social">
				<a href="mailto:alystermahoney@gmail.com"><img src="../img/mail-icon2.svg" alt="e-mail me at alystermahoney@gmail.com"></a>
				<a href="http://www.behance.net/alymahoney"><img src="../img/behance-icon2.svg" alt="behance site"></a>
				<a href="http://www.linkedin.com/pub/aly-mahoney/66/723/739/"><img src="../img/linkedin-icon2.svg" alt="linked in profile"></a>
			</div>
		</div>
	</div>
	<div class="unit unit-s-1 unit-m-1-2 unit-l-2-4">
		<h2>Designer | Graphiste</h2>
			<p>I am a Montréal designer with experience in UI/UX design and a love of print. I love to inspire curiosity and simplify life.
			<br><br>
			Je suis un graphiste à Montréal avec de l'expérience en UI/UX et j'adore l'impression. J'aime inspirer la curiosité et simplifier la vie.</p>

	</div>

</div>

<main role="main" id="main">
{{content}}
</main>


<div class="grid portfolio">
{% for besttowns in site.pages %}
{% if besttowns.category == "besttowns" %}
<div class="unit unit-s-1-2 unit-m-1-4 unit-l-1-6 best">


<a href="{{besttowns.site}}">
<img src="img/{{besttowns.image}}" class="flex-img" alt="{{besttowns.alttag | markownify}}">
</a>

</div>
{% endif %}
{% endfor %}
</div>




<footer class="grid foot" role="contentinfo">
<div class="unit unit-s-1 unit-m-1 unit-l-1" id="contact">

<p class="address">© 2014 A.S.Mahoney. All rights reserved.</p>

</div></footer>

</body>

</html>
