<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Mahoney Design</title>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href="css/general.css" rel="stylesheet">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width;initial-scale=1">
</head>
<body>
	<header>
		<a href="{{site.baseurl}}/index.html"><img src="img/logo2.svg" alt="Mahoney Design Logo" class="logo"></a>
		<div class="media-contact2">
			{% include links.html %}
	
		</div>
	</header>

	{{content}}
	
	<div class="media-contact">
		{% include links.html %}
	
	</div>

</body>
</html>