<!DOCTYPE html>
<html lang=en-ca>
<head>
	 <meta charset=utf-8>
 	<title>Alyster Mahoney · Designer</title>
 	  <link href="css/normalize.css" rel="stylesheet">
 	<link href="css/general.css" rel="stylesheet">
 	<link href="css/grid.css" rel="stylesheet">
 	<script src="js/modernizr.js"></script>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">

</head>
<body>


<div class="grid name" role="banner">
<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
<a href="../index.html"><img src="../img/mahoneylogogrey.svg" alt="Alyster Mahoney Design" class="logo"></a>
</div>
<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
<div class="info">
<h1>Alyster Sam Mahoney</h1>
<h2>designer</h2>
<p>I am a designer in Ottawa with experience in UI/UX design and an adoration of print. I love to inspire curiosity and simplify the complications of life. </p>
</div>
</div>
</div>

<main role="main" id="main">
{{content}}
</main>


<div class="grid portfolio">
{% for besttowns in site.pages %}
{% if besttowns.category == "besttowns" %}
<div class="unit unit-s-1-2 unit-m-1-4 unit-l-1-6 best">


<a href="{{besttowns.site}}">
<img src="img/{{besttowns.image}}" class="flex-img" alt="{{besttowns.alttag | markownify}}">
</a>

</div>
{% endif %}
{% endfor %}
</div>




<footer class="grid foot" role="contentinfo">
<div class="unit unit-s-1 unit-m-1 unit-l-1" id="contact">

<p>alystermahoney(at)gmail.com</p>

</div></footer>

</body>

</html>